﻿@model IEnumerable<TestMVC.ViewModel.GetPostVM>

@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>
<br />
<p>
    @Html.ActionLink("Add New Post..", "Create", "Post", new { blogId = Request.QueryString["blogId"] }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>        
        <th>
            @Html.DisplayNameFor(model => model.PostId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>        
    </tr>

@foreach (var item in Model) {
    <tr>        
        <td>
            @Html.DisplayFor(modelItem => item.PostId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>        
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to Blogs", "Index", "Blog")
</div>