﻿@{
    ViewBag.Title = "Contact";
}
<h2>Contact</h2>
<br />
<address>
    Marwa Ahmad<br />    
</address>

<address>
    <strong>e-mail:</strong>   <a href="mailto:marwa.ahmad8@gmail.com">marwa.ahmad8@gmail.com</a><br />
    
</address>