﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">    
    <div class="col-md-4">
        <br />        
        <p>@Html.ActionLink("List blogs", "Index", "Blog", null, new { @class = "btn btn-default" })</p>
    </div>    
</div>