﻿@model IEnumerable<TestMVC.ViewModel.GetBlogVM>

@{
    ViewBag.Title = "Blogs";
}

<h2>Blogs</h2>
<br />
<p>
    @Html.ActionLink("Add New Blog..", "Create", "Blog", null,  new { @class = "btn btn-default" })
</p>
<br />

<div class="container">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input type="text" id="txtSearchBlog" placeholder="Search blog" class="form-control"/>
        </div>
    </div>
</div>
<br />
<table class="table table-striped">
    <tr>       
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="tbtrSearchBlog">
        <td>            
            @Html.ActionLink(item.Title, "Index", "Post", new { blogId = item.BlogId }, new { @class = "btn btn-primary" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreationDate)
        </td>        
    </tr>
}
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script>
        $(document).ready(function () {
            function contains(txtOne, txtTwo)
            {
                if (txtOne.indexOf(txtTwo) != -1) return true;                
            }
            $("#txtSearchBlog").keyup(function () {
                var searchTxt = $("#txtSearchBlog").val().toLowerCase();
                $(".tbtrSearchBlog").each(function () {
                    if (!contains($(this).text().toLowerCase(), searchTxt)) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                });
            });
        });
    </script>
}
