﻿@model TestMVC.ViewModel.SearchBlogVM

@{
    ViewBag.Title = "Search Blog";
}

<h2>Search Blogs</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Search Blogs</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EnterDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EnterDate)
                @Html.ValidationMessageFor(model => model.EnterDate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default btnSearchBlog" />
            </div>
        </div>
    </div>
}

<br />
<br />


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        var url = '@Url.Action("DisplaySearchResult", "Blog")';
        var keywordTitle = $("#Title").val;
        var enterDate = $("#EnterDate").val;

        $('form').submit(function () {
            if (!$(this).valid()) {
                return false; // prevent the ajax call if validation errors
            }
            var form = $(this).serialize();
            $('#SearchResults').load(url, form);
            return false; // prevent the default submit action
        })
    </script>
}
